<header>
  <nav>
    <div class="logo">
      <a href="/" (click)="onLogoClick($event)" >
        <img src="logo1.png" alt="Logo">
      </a>
    </div>
    <div class="info-trigger">
      <a href="#" (click)="openInfoPopup($event)">ⓘ</a>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="footer-content">
  </div>
</footer>

<!-- Include the InfoPopupComponent when needed -->
<app-info-popup *ngIf="showInfoPopup" (closed)="closeInfoPopup()"></app-info-popup>
