.support-graph-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
  padding-top: 60px;
  height: 500px;
  white-space: nowrap;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    padding-bottom: 30px;
  }
}

.support-graph {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  padding-left: 50px;
  padding-right: 50px;
  height: 400px;
  min-width: max-content;
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 20px;
    width: 100%;
    gap: 20px;
  }
}

.arrow {
  position: absolute;
  top: 365px;
  left: 50px;
  height: 10px;
  width: calc(var(--num-ch-eu-parties) * 80px - 10px);
  background: linear-gradient(to right, var(--main-yellow-color), var(--main-blue-color));
  z-index: 2;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    border-style: solid;
    height: 0;
    width: 0;
  }

  &::before {
    left: -10px;
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--main-yellow-color) transparent transparent;
  }

  &::after {
    right: -10px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-blue-color);
  }

  @media (max-width: 768px) {
    position: absolute;
    top: 27px;
    left: 140px;
    width: 10px;
    height: calc(var(--num-ch-eu-parties) * 85px);
    background: linear-gradient(to bottom, var(--main-yellow-color), var(--main-blue-color));

    &::before {
      top: -9px;
      left: -4.7px;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent var(--main-yellow-color) transparent;
    }

    &::after {
      top: calc(100% - 1px);
      left: -4.7px;
      border-width: 10px 10px 0 10px;
      border-color: var(--main-blue-color) transparent transparent transparent;
    }
  }
}

.party-column {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 70px;
  height: 100%;

  .party-bar-container {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .party-bar-desktop {
    position: relative;
    width: 100%;
    height: 0;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;

    &:hover {
      transform: scale(1.05);
    }

    .support-label-desktop {
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: bold;
      color: black;
      text-align: center;
      white-space: nowrap;
    }
  }

  .party-role {
    font-size: 12px;
    margin-top: 5px;
  }

  .party-acronym {
    font-size: 14px;
    font-weight: bold;
  }

  .party-groups {
    font-size: 12px;
    padding-bottom: 20px;
  }

  .views-graph-wrapper {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 10px;
    margin-top: 10px;
    position: relative;

    .views-graph {
      transform: scale(0.2);
      transform-origin: top;
    }
  }

  @media (max-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: -10px;

    .views-graph-wrapper {
      margin-right: 10px;
    }

    .party-details {
      display: flex;
      flex-direction: column;
      width: 46%;
      margin-left: 30px;
      margin-top: 3px;

      .party-acronym {
        font-weight: normal;

        &.bold {
          font-weight: bold;
        }
      }

      .bottom-row {
        display: flex;
        align-items: center;
        position: relative;

        .support-label {
          position: absolute;
          font-weight: bold;
          margin-left: 5px;
        }

        .party-bar {
          width: 100%;
          min-width: 0;
        }
      }
    }
  }
}
.poll-info {
  text-align: center;
  margin-bottom: 20px;

  .poll-line {
    display: flex;
    justify-content: center;
    gap: 5px;

    p {
      margin: 0;
    }
  }

  @media (max-width: 768px) {

    padding: 0 50px;

    .poll-line {
      display: block;
      p {
        white-space: normal;
        word-wrap: break-word;
      }
    }
  }
}
