<div class="party-graph">
  <!-- Left-side icons -->
  <div class="left-icons">
    <div class="icon-left-1"></div>
    <div class="icon-left-2"></div>
    <div class="icon-left-3"></div>
    <div class="icon-left-4"></div>
  </div>

  <div class="center-graph"></div>

  <!-- CHES Values - Horizontal columns for each value -->
  <div class="value-graph economy-graph">
    <div class="value-square" *ngFor="let square of economySquares"
         [ngClass]="square.class"
         [style.left.px]="square.position"></div>
    <div class="connector" *ngFor="let connector of economyConnectors"
         [ngClass]="connector.class"
         [style.width.px]="connector.width"
         [style.left.px]="connector.startPosition"></div>
  </div>

  <div class="value-graph liberal-graph">
    <div class="value-square" *ngFor="let square of liberalSquares"
         [ngClass]="square.class"
         [style.left.px]="square.position"></div>
    <div class="connector" *ngFor="let connector of liberalConnectors"
         [ngClass]="connector.class"
         [style.width.px]="connector.width"
         [style.left.px]="connector.startPosition"></div>
  </div>

  <div class="value-graph progress-graph">
    <div class="value-square" *ngFor="let square of progressSquares"
         [ngClass]="square.class"
         [style.left.px]="square.position"></div>
    <div class="connector" *ngFor="let connector of progressConnectors"
         [ngClass]="connector.class"
         [style.width.px]="connector.width"
         [style.left.px]="connector.startPosition"></div>
  </div>

  <div class="value-graph eu-graph">
    <div class="value-square" *ngFor="let square of euSquares"
         [ngClass]="square.class"
         [style.left.px]="square.position"></div>
    <div class="connector" *ngFor="let connector of euConnectors"
         [ngClass]="connector.class"
         [style.width.px]="connector.width"
         [style.left.px]="connector.startPosition"></div>
  </div>

  <!-- Right-side icons -->
  <div class="right-icons">
    <div class="icon-right-1"></div>
    <div class="icon-right-2"></div>
    <div class="icon-right-3"></div>
    <div class="icon-right-4"></div>
  </div>
</div>
