<script src="../models/party.model.ts"></script>
<div class="party-list">
  <h2>Parties in {{ countryCode }}</h2>
  <ul>
    <li *ngFor="let party of parties">
      <div class="party-details">
        <h3>{{ party.stringId }}</h3>
        <p><strong>Acronym:</strong> {{ party.acronym }}</p>
        <p><strong>englishName:</strong> {{ party.englishName }}</p>
        <p><strong>localName:</strong> {{ party.localName }}</p>
        <p><strong>CHES_EU:</strong> {{ party.CHES_EU }}</p>
        <p><strong>CHES_Economy:</strong> {{ party.CHES_Economy }}</p>
        <p><strong>CHES_Progress:</strong> {{ party.CHES_Progress }}</p>
        <p><strong>CHES_Liberal:</strong> {{ party.CHES_Liberal }}</p>
        <p><strong>subParties:</strong></p>
          <p *ngFor="let party of party.subParties">  -{{party.acronym}}</p>
        <p><strong>group:</strong></p>
          <div *ngIf="party.group">
            <p *ngFor="let group of party.group">  -{{group.acronym}}</p>
          </div>
        <p><strong>mp:</strong> {{ party.mp }}</p>
        <p><strong>role:</strong> {{ party.role }}</p>
        <!-- Add more attributes as needed -->
      </div>
      <app-party-graph [party]="party"></app-party-graph>
    </li>
  </ul>
</div>
