<div class="party-list">
  <h2>{{ countryName }}: Kompozycja Parlamentu</h2>

<!--  Parliament composition-->
  <app-support-graph *ngIf="getPartiesForGraph().length > 0" [parties]="getPartiesForGraph()" (partySelected)="scrollToParty($event)"></app-support-graph>

<!--  Government-->
  <div *ngIf="government != null" class="party-container">
    <div class="party-item">
      <div class="party-details">
        <div class="party-color-bar" [ngStyle]="{'background': getPartyColorGradient(government)}"></div>
        <div class="party-info">
          <h3>Rząd</h3>
          <p>{{ government.acronym }}</p>
          <p *ngIf="includeSupportParties">{{ government.stringId }}</p>
          <div class="party-groups" *ngIf="government.group && government.group.size > 0">
            <p>{{ getPartyGroups(government) }}</p>
          </div>
        </div>
        <div class="views-graph-container">
          <app-views-graph [party]="government" [leftIcons]="true" [rightIcons]="true" class="views-graph"></app-views-graph>
        </div>
      </div>
    </div>
  </div>

  <div class="toggle-container" *ngIf="hasSupport()">
    <label>
      <input type="checkbox" [(ngModel)]="includeSupportParties" (change)="determineGovernment()" />
      Uwzględnij partie wspierające rząd
    </label>
  </div>

  <h2>Wykres poparcia</h2>
  <app-polling-graph *ngIf="getPartiesForPolls().length > 0 && getPolls().length > 0" [countryCode]="countryCode" [parties]="getPartiesForPolls()" [polls]="getPolls()"></app-polling-graph>

  <h2>Najnowsze sondaże</h2>
  <div class="support-graph-container">
    <div class="arrows">
      <button class="arrow left-arrow" [disabled]="currentPollIndex === 0" (click)="goToPreviousPoll()"> &lt; </button>
      <button class="arrow right-arrow" [disabled]="currentPollIndex === getPolls().length - 1" (click)="goToNextPoll()"> &gt; </button>
    </div>
    <div class="scrollable-graph">
      <app-support-graph *ngIf="getPartiesForPolls().length > 0 && getPolls().length > 0" [parties]="getPartiesForPolls()" (partySelected)="scrollToParty($event)" [supportData]="getSupportData(currentPollIndex)"></app-support-graph>
    </div>
  </div>

  <!-- List of Parties with MPs -->
  <div class="party-container">
    <div *ngFor="let party of getPartiesForList()"
         class="party-item"
         [ngStyle]="{'margin-left': calculateMarginLeft(party.subLevel)}"
         [id]="party.acronym">
      <div class="party-details">
        <div class="party-color-bar" [ngStyle]="{'background': getPartyColorGradient(party)}"></div>
        <div class="party-info">
          <h3>{{ party.acronym }}</h3>
          <p *ngIf="party.localName">{{ party.localName.join(', ') }}</p>
          <div class="party-groups" *ngIf="party.group && party.group.size > 0">
            <p>{{ getPartyGroups(party) }}</p>
          </div>
          <p>Liczba posłów: {{ party.mp || 0 }}</p>
          <p>Rola: {{ getRoles(party) }}</p>
        </div>

        <!-- Views graph container now adjusted for mobile layout in CSS -->
        <div class="views-graph-container" *ngIf="party.CHES_Liberal != null">
          <app-views-graph [party]="party" [leftIcons]="true" [rightIcons]="true" class="views-graph"></app-views-graph>
        </div>
      </div>
    </div>
  </div>

  <div class="toggle-container">
    <label>
      <input type="checkbox" [(ngModel)]="showExcludedParties" />
      Wyświetl partie spoza parlamentu i partie rozwiązane
    </label>
  </div>

<!--  List of parties without MPs-->
  <div class="party-container" *ngIf="showExcludedParties">
    <div *ngFor="let party of getPartiesForList(true)"
         class="party-item"
         [ngStyle]="{'margin-left': calculateMarginLeft(party.subLevel)}"
         [id]="party.acronym">
      <div class="party-details">
        <div class="party-color-bar" [ngStyle]="{'background': getPartyColorGradient(party)}"></div>
        <div class="party-info">
          <h3>{{ party.acronym }}</h3>
          <p *ngIf="party.localName">{{ party.localName.join(', ') }}</p>
          <div class="party-groups" *ngIf="party.group && party.group.size > 0">
            <p>{{ getPartyGroups(party) }}</p>
          </div>
          <p>Liczba posłów: {{ party.mp || 0 }}</p>
        </div>

        <!-- Views graph container now adjusted for mobile layout in CSS -->
        <div class="views-graph-container" *ngIf="party.CHES_Liberal != null">
          <app-views-graph [party]="party" [leftIcons]="true" [rightIcons]="true" class="views-graph"></app-views-graph>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
