.party-list {
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .party-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .party-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .party-details {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    position: relative;
  }

  .party-color-bar {
    width: 10px;
    min-height: 200px;
    margin-right: 10px;
  }

  .party-info {
    flex-grow: 1;

    h3 {
      margin: 0 0 5px;
    }

    p {
      margin: 5px 0;
    }

    p:first-of-type {
      margin: 10px 0 5px;
    }
  }

  .views-graph-container {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    height: 200px;
    margin-right: 20px;
  }

  app-views-graph {
    transform: scale(0.5);
    transform-origin: top;
  }

  /* Mobile adjustments */
  @media (max-width: 768px) {
    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .party-item {
      margin-bottom: 15px;
    }

    .party-details {
      padding: 10px;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

    .party-color-bar {
      width: 8px;
      min-height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }

    .party-info {
      text-align: center;

      h3 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }
    }

    .views-graph-container {
      justify-content: center;
      height: 210px;
      margin-right: 0;
      margin-top: 10px;
    }

    app-views-graph {
      transform: scale(0.47);
      margin-bottom: 0;
    }

    .support-graph-container {
      position: relative;
    }
    .support-graph-container .arrows {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      margin: 0;
      z-index: 10;
    }
  }
  .support-graph-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }

  .arrows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    z-index: 10;
  }

  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border: 2px solid #999;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #bbb;
    }
  }

  .scrollable-graph {
    flex: 1;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 10px;
    max-width: 100%;
  }

  @media (min-width: 769px) {
    .support-graph-container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .arrows {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      width: 100%;
    }

    .arrow.left-arrow {
      left: 0;
    }

    .arrow.right-arrow {
      right: 0;
    }

    .scrollable-graph {
      flex-grow: 1;
      margin: 0 60px;
      max-width: calc(100% - 120px);
      display: block;
    }
  }
}
.toggle-container {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.toggle-container label {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.toggle-container input[type="checkbox"] {
  margin-right: 0.5rem;
}

.poll-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.poll-header .country-flag {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

